h1 {
    margin-bottom: 2rem;
}

.Jimself img {
    display: block;
    border-radius: 10px;

    width: 100%; 
    height: auto; 
    max-width: 600px; 
    max-height: 800px;
    margin-left: 1.5em;

    flex-shrink: 1;
}

.OverallAbout {
    justify-content: center;
}

.Jimself {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    margin-right: 2em;
}

p {
    color: black;
    margin-top: 1rem;
    /* text-shadow: 1px 1px 2px black; */

}

.BioCopy {
    margin-left: 2em;
    margin-right: 2em;
    text-align: left;
}


p.h1 {
    text-shadow: none ;
}

@Media (min-width: 769px) {
    .BioCopy {
        /* display:flex; */
        flex-shrink: 1;
        flex-grow: 1;
        /* flex-basis:1; */
        max-width: 50%;
        align-items: center;
        justify-content: center;
    }
    .BioCopy p {
        align-self: center;
        margin-left: 3rem;
        font-size: larger;
    }
    .OverallAbout {
        display:flex;
        margin-left: 3em;
    }
    .Jimself {
        width: 40%;
        margin-left: 1.5em;
    }
}