#cardDeck div {
    width: 21%; 
    flex-wrap: wrap;
    /* background-color: #111417; */
    margin: 1rem;
    /* border-radius: 10px; */
    /* box-shadow:
      0 1px 3px rgba(0,0,0,0.16),
      0 1px 3px rgba(0,0,0,0.23);
    } */
     border-width: 0;
     
    /* background-color: #476e5a; */
    background-color: #f5f2ed;


}

div.card {
  width: 100%;
  display: flex;
}
  
  div.card p {
    padding: .5rem 1rem;
    margin-bottom: 0rem;
  }
  
  div.card img {
    border-radius: 10px;
/*     
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
  }


  @media (min-width: 810px) {
    div.card {        
        /* position: relative; 
        top:50%;
        transform: translateY(-50%); */
    }
  }